Source: groupoffice-billing
Section: web
Priority: extra
XSBC-Orig-Maintainer: Merijn Schering <mschering@intermesh.nl>
Maintainer: Ubuntu MOTU Developers <motu@lists.ubuntu.com> 
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://www.group-office.com

Package: groupoffice-billing
Architecture: all
Depends: groupoffice-com,
	libapache2-mod-php5,
	mysql-server,
	php5-mysql | php5-mysqli | php5-mysqlnd,
	php5-gd,
	php5-cli,
	php5-curl,
	${misc:Depends}
Description: 
 Adds the billing module. You need a license for this module.
