html {
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}

body{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-style: normal;
	
	line-height: 20px;
	margin: 0;
	padding: 0;
}
h1, h2{
	font-style: normal;
	font-weight: bold;
}

h1{
	font-size: 3em;
	line-height: 1em;
	margin: 0;
}

h2{
	font-size: 2.25em;
}

h3{
	font-style: normal;	
	font-size: 1.75em;
	line-height: 1.125em;
	margin: 1.125% 0;
}

table{
	border-collapse: collapse;
	font-size: 1.125em;
	text-align: left;
	width: 100%;
}

article table{
	margin-top:1em;
}

table td, table th{
	padding: 0.325em 1em 0.325em 0;
	vertical-align: top;
}


table tr:last-child td{
	padding-bottom: 1em;
}

table caption{
	border-top: 0.1em solid #000;
	padding: 0.5em 0;
	font-size: 1.25em;
	font-weight: bold;
	text-align: left;
}

table tfoot {
	text-align: center;
}

table .caption-header{
	float: left;
}

table tfoot th{
	border-top: 1px solid #000;	
	font-weight: normal;
}

table tfoot th a{
	margin: 0 0 0 0.5em;
}

.odd {
	background-color: #e4e8ea;
}



input[type=text],input[type=password],input[type=email], select {
	border:1px solid #aaa; 
	padding:1px;
	margin:2px;
	font: 12px arial;
	line-height:16px;
	width:200px;
}

.wrapper{
	margin: 0 auto;
	max-width: 960px;
	overflow: visible;
	width: 100%;
}

section{
	overflow: hidden;
	padding: 5% 5% 15% 5%;
}

label{width:150px;display:block}
#Contact_sex label{width:100px;}

textarea {width:350px; height:80px;border:1px solid #aaa; }

.clear {clear:both;}
/*.wrapper {width:980px; background-color: #fff; padding:10px;}*/
.error {color:red;}
.button {box-sizing:content-box; text-align:center; width: 100px; display:block; cursor:pointer; border:1px solid #aaa; padding:5px; margin:5px 0px; font-size: 12px; text-decoration: none; color:#000;background-color:#f1f1f1;line-height:16px;}
.button:hover{background-color:#ddd}


#reset-login-button {float:left;}
#submit-login-button {float:left;}
#recover-login-button {float:left; margin-left:5px;}
#submit-forgotpassword-button {float:left; margin-left:5px;}
#register-submit-button {float:left; margin-left:5px;}

/*#reset-login-button {background-color: #99FF99;float:left;}
#reset-login-button:hover {background-color: #88FF88;}

#submit-login-button {background-color: #99FF99;float:left;}
#submit-login-button:hover {background-color: #88FF88;}

#recover-login-button {background-color: #9999FF;float:left; margin-left:5px;}
#recover-login-button:hover {background-color: #8888FF;}

#submit-forgotpassword-button {background-color: #99FF99;float:left; margin-left:5px;}
#submit-forgotpassword-button:hover {background-color: #88FF88;}

#register-submit-button {background-color: #9999FF;float:left; margin-left:5px;}
#register-submit-button:hover {background-color: #8888FF;}*/

header{
	overflow: hidden;
	padding: 1.5% 2.5%;
}

#logo {
	/*background-image: url('images/logo-244.png');*/	/*background-image: url('images/logo-244.png');*/
	float: left;
	height: 52px;
	width: 244px;
}

#content{
	background-color: #009bc9;
	/*color: #fff;*/
	height: 42em;
	margin: 0 auto;
}

.black-button{
	background: #000;
	color: #fff !important;	
	display: inline-block;
	font-size: 0.75em;
	font-weight: bold;
	line-height: 100%;
	/*margin-top: -0.25em;*/
	padding: 0.375em 1.125em;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	/*rounded corners */
	behavior: url('/public/site/1/assets/template/scripts/pie/PIE.htc') !important;
     -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -khtml-border-radius: 10px !important;
    border-radius: 10px !important;
}	

.black-button:hover{
	background: #78a22e;
	text-decoration: none !important;
}

.green-button{
	background: #78a22f;
	color: #fff !important;	
	display: inline-block;
	font-size: 0.75em;
	font-weight: bold;
	line-height: 100%;
	/*margin-top: -0.25em;*/
	padding: 0.375em 1.125em;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;	
	/*rounded corners */
	behavior: url('/public/site/1/assets/template/scripts/pie/PIE.htc') !important;
     -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -khtml-border-radius: 10px !important;
    border-radius: 10px !important;
}

.grey-button{
	background: #d9d9d9;
	border: none !important;
	color: #000 !important;	
	display: inline-block;
	font-size: 0.75em;
	font-weight: bold;
	line-height: 100%;
	/*margin-top: -0.25em;*/
	padding: 0.375em 1.125em;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;	
	/*rounded corners */
	behavior: url('/public/site/1/assets/template/scripts/pie/PIE.htc') !important;
     -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -khtml-border-radius: 10px !important;
    border-radius: 10px !important;
}

.grey-button:hover{
	background: #fff;	
}

.green-button:hover{
	background: #000;
	text-decoration: none !important;
}

/* styling for rounded corners */

.rounded-corners {
 	behavior: url('/public/site/1/assets/template//public/site/1/assets/template/scripts/pie/PIE.htc') !important;
     -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -khtml-border-radius: 10px !important;
    border-radius: 10px !important; 
}

/* Pages other than homepage */

.page{
	background-color: #f1f3f4;
	padding: 2.5% 5%;
}

.page section {
	float: left;
	padding: 0;
}

.page p {	
	font-size: 1.125em;
	margin: 0;
}


.page h2{
	float: left;
	line-height: 100%;
	margin: 0;
	padding-bottom: 1em;
}


.page h4{
	font-size: 1.125em;
	margin: 0.75em 0 0;
}

.page a{
	color: #009bc9;
	text-decoration: none;
}

.page a:hover {
	text-decoration: underline;
}

.page header {
	padding: 1.5% 0%;
}


.page section{
	width: 100%;
}

.page article{
	padding: 0 5% 5% 5%;
	overflow: hidden;
}

/* Forms */

form{
	width: 100%;
}

fieldset{
	border: none;
	margin: 0 0 2.5em 0;
	padding: 0;
}

fieldset fieldset{
	margin: 0;
}

input, select, textarea{
	font-size: 1em;
	margin: 0;
	padding: 0;
}

.radio {
	overflow: hidden;
}

.radio ul, .radio ul li{
	clear: none;
	float: left;
	font-size: 100%;
	margin: 0 1em 0 0;
}

.radio > ul li label {
	display: inline;
	float: none;
}

legend{
	border-top: 2px #000 solid;
	font-size: 1.375em;
	font-weight: bold;
	margin:  0;
	padding: 1em 0 0.5em 0;
	width: 100%;
}

legend, fieldset{
	*margin-left: -7px !important;
}

.fieldset-description{
	margin: 0 0 1.25em 0;
	padding: 0;
}

form ul{
	font-size: 1.125em;
	line-height: 1.5em;
	margin:  0;
	padding: 0;
}

form li{
	clear: both;
	line-height: 1.25em;
}

ul, li{
	list-style-type: none;
}

form label, .radio label{
	padding-right: 2.5%;
}

label{
	display: block;
	float: left;
	width: 29.95%;
}

li.checkbox label { 
	width: auto !important; 
	float: none;
	display: inline;
}

input[type=text],
input[type=password],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email], 
textarea{
	border: none;
	width: 67.5%;
	*width: 67%;
}

input[type=text]{
	height: 1.25em;
}

input[type=radio]{
	margin: 0 0.5em 0 0;
	padding: 0;
}

#form-button, input[type=submit]{
	border: none;
	float: right;
	cursor: pointer;
	/*font-size: 0.825em;*/
}

/* Footer */

footer{
	background-color: #000;
	color: #999;
	font-size: 1.175em;
	line-height: 1.375em;
	overflow: hidden;
	padding: 5%;
}

footer .wrapper{
	text-align: center;
}

footer a{
	color: #fff;
	text-decoration: none;
}

footer .contact-info, footer .contact-form{
	display: inline-block; 
	*display: inline;
	zoom: 1;
	margin: 0 1.25%;
	text-align: left;
	vertical-align: top;
	width: 32.5%;
}

footer .contact-info .social-link{
	margin-right: 0.5em;
}

footer .contact-form form{
	margin-top: 0.5em;
}

footer form input[type=text], footer form textarea{
	border: none;
	background-color: #282828;
	color: #515050;
	font-size: 1em;
	
	margin: 0.25em 0;
	width: 100%;
}




#add-files-button, .plupload_add{
	background: url(../images/plus-icon.png) no-repeat !important;
	background-position-y: 0;
	color: #000 !important;
	font-size: 1.125em;
	padding-left: 1.5em;
}